::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
}

::-webkit-scrollbar-track {
    background: none;
}

:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}